:root {
    color-scheme: light dark;

    --color_text: rgba(255, 255, 255, 0.87);
    --color_background: #3c3c3c;
    --color_button: #1a1a1a;
    --color_shadow: rgba(0, 0, 0, 0.6);
    --color_shadow-alt: rgba(0, 0, 0, 0.2);
    --color_button-border: #646cff;

    @media (prefers-color-scheme: light) {
        --color_text: #213547;
        --color_background: #ffffff;
        --color_button: #a6a6a6;
        --color_button-border: #242aa0;
    }
}
